.alphabetBtn, .fillWord{
  display: inline-flex;
  margin-right: 5px;

  width: fit-content;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  border: 2px solid black;
  background:dodgerblue;
  transition-duration: 1s;
  transition: background-color 2s;
  cursor: pointer;
}

.fillWord {
  margin-top: 50px;
  height: 22px;
}

.alphabetBtn:hover{
  background: white;
  transition: background-color 0.3s;
}
